@font-face {
  font-family: Type Grotesk;
  src: url('/static/fonts/Typo Grotesk Rounded Demo.otf');
}


body {
    margin: 0;
    font-family: 'Type Grotesk';
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    orientation: landscape;
}
@font-face {
    font-family: Type Grotesk;
    src: url('/static/fonts/Typo Grotesk Rounded Demo.otf');
}

body {
    margin: 0;
    font-family: 'Type Grotesk';
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    orientation: landscape;
}