
.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: #036bfc;
    border-radius: 30px;
    border: 2px #003a8a solid;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.no-selectable {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;
}

.logo {
    width: 150px;
    align-self: center;
}

.users-panel {
    max-height: 90%;
    margin: 0;
    flex-grow: 1;
}

.users-panel ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.users-panel ul li {
    border-bottom: 1px #cfcfcf solid;
    padding: 10px;
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 25px;
    color: #e0e0e0;
}

.user-rank {
    font-size: 15px;
    color: #9c9c9c;
}

.center-panel {
    flex-grow: 8;
    flex-direction: column;
}

.canvas {
    background-color: white;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    flex-grow: 1;
}

.bottom-center-pannel {
    min-height: 150px;
    flex-grow: 1;
}

.answers {
    flex-grow: 1;
    background-color: #105cc7;
}

.chat {
    flex-grow: 1;
    background-color: #044bb0;
}

.side-panel {
    padding: 20px 10px;
    flex-direction: column;
}

.tool-panel {
    background-color: #105cc7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 10px;
    max-width: 200px;
}

.tool-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f81f5;
    border-style: none;
    border-radius: 5px;
    margin: 5px;
}

.tool-btn:hover {
    background-color: #5298fa;
}

.tooltip {
    visibility: hidden;
    background-color: #013987;
    font-family: 'Type Grotesk';
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    margin-top: 40px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #013987 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tool-icon {
    height: 24px;
    width: 24px;
    opacity: 0.8;
}

.tricks {
    position: fixed;
    left: 50%;
    background-color: blue;
    color: white;
}
