<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>Gartico</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
      data-auto-replace-svg="nest"
    ></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
