{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rmi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/room.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0"/>
{% endblock %}
    
{% block body %}
<div id="container" class="container">
    <div class="game">
        <div class='game-title'>
            <h1 class="room_logo">Gartico</h1>

            <h3 id="tips">Aguardando jogadores</h3>
            <div class="row">
                <h3>Tempo:</h3>
                <h3 id="countdown"></3>
            </div>
            <a class="button" href="/"><i class="fas fa-sign-out-alt fa-lg"></i></a>
        </div>
        <div class="left-panel">
            <div class="users-panel col no-selectable">
                <i id="user-img" class="fas fa-user-circle fa-3x user-img" style="z-index: -1; position: fixed;"></i>
                <ul id="players">
                    {% for player in players %}
                    <li id="{{ player }}" class="row">
                        <i class="fas fa-user-circle fa-3x user-img"></i>
                        <div class="col">
                            <a class="user-name">{{ player }}</a>
                            <a id="pts-{{ player }}" class="user-rank">0pts</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="tool-panel" class="tool-panel hidden">
                <button class="tool-btn" id="pen">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/pencil.svg') }}">
                    <span class="tooltip">Pencil</span>    
                </button>
                <button class="tool-btn" id="eraser">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/eraser.svg') }}">
                    <span class="tooltip">Eraser</span>    
                </button>
                <button class="tool-btn" id="undo">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/undo.svg') }}">
                    <span class="tooltip">Undo</span>    
                </button>
                <button class="tool-btn" id="redo">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/redo.svg') }}">
                    <span class="tooltip">Redo</span>    
                </button>
                <button class="tool-btn" id="rectangle">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/square.svg') }}">
                    <span class="tooltip">Rectangle</span>    
                </button>
                <button class="tool-btn" id="ellipse">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/ellipse.svg') }}">
                    <span class="tooltip">Ellipse</span>    
                </button>
                <button class="tool-btn" id="triangle">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/triangle.svg') }}">
                    <span class="tooltip">Triangle</span>    
                </button>
                <button class="tool-btn" id="clear">
                    <img class="tool-icon" src="{{ url_for('static', filename='img/clear.svg') }}">
                    <span class="tooltip">Clear</span>    
                </button>
                
                <div class="tool-btn">
                    <div class="color-picker"></div>
                    <span class="tooltip">Color</span>    
                </div>
        </div>
        </div>

        <div class="col right-panel">
            <div class="row canvas">
                <svg id="svg" viewBox="0 0 800 370" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width:100%; height:100%; touch-action:none;"></svg>
            </div>
            <div class="bottom-center-pannel">
                <div class="message">
                    <div class="message-title">Respostas</div>
                    <div id="answers-area" class="message-area" readonly></div>
                        <div class="row" style="position: relative;">
                            <i class="far fa-paper-plane fa-lg input-icon"></i>
                            <input id="answer" class="input-text" type="text">
                        </div>
                </div>

                <div class="message">
                    <div class="message-title">Chat</div>
                        <div id="messages-area" class="message-area" readonly></div>
                        <div class="row" style="position: relative;">
                            <i class="far fa-comment-alt fa-lg input-icon"></i>
                            <input id="message" class="input-text" type="text">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const room = new Room('#svg', location.protocol, document.domain, location.port, location.pathname.split('/')[2])
    //const remote = new SVGCanvas('#svg', location.protocol, document.domain, location.port, location.pathname.split('/')[2]);
    const pickr = Pickr.create({
        el: '.color-picker',
        theme: 'nano', // or 'monolith', or 'nano',
        default: '#000000',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 1)',
            'rgba(156, 39, 176, 1)',
            'rgba(103, 58, 183, 1)',
            'rgba(63, 81, 181, 1)',
            'rgba(33, 150, 243, 1)',
            'rgba(3, 169, 244, 1)',
            'rgba(0, 188, 212, 1)',
            'rgba(0, 150, 136, 1)',
            'rgba(76, 175, 80, 1)',
            'rgba(139, 195, 74, 1)',
            'rgba(205, 220, 57, 1)',
            'rgba(255, 235, 59, 1)',
            'rgba(255, 193, 7, 1)'
        ],

        components: {

            // Main components
            hue: true,
            preview: true,

            interaction: {
            save: true
            }
        }
    });

    pickr.on('init', instance => {
    }).on('save', (color, instance) => {
        room.callCanvas('setColor', color.toHEXA().toString());
    });
    
    
    function down() {
        const coords = d3.mouse(this);
        
        room.callCanvas('startDraw', coords[0], coords[1]);
    }

    function up() {
        room.callCanvas('setDrawing', false);
    }

    function move() {
        if (!room.canvas.drawing)
            return;
            
        const coords = d3.mouse(this);

        room.callCanvas('draw', coords[0], coords[1]);
    }

    room.canvas.svg.on('mousedown', down); 
    room.canvas.svg.on('touchstart', down); 

    document.onmouseup = up;
    document.ontouchend = up;

    room.canvas.svg.on('mousemove', move);
    room.canvas.svg.on('touchmove', move);

    function sendAnswer(answer) {
        if(answer.length)
        room.socket.emit('sendAnswer', {room: room.room, answer: answer})
    }     

    function sendMessage(message) {
        if(message.length)
        room.socket.emit('sendMessage', {room: room.room, message: message})

    }
    
    document.getElementById("answer").onkeydown = (ev) => {
        if(ev.key == "Enter")  {
            sendAnswer(document.getElementById("answer").value);
            document.getElementById("answer").value = ""
       }
    }

    document.getElementById("message").onkeydown = (ev) => {
        if(ev.key == "Enter")  {
            sendMessage(document.getElementById("message").value);
            document.getElementById("message").value = ""
       }
    }

    document.onkeydown = (ev) => {
        room.callCanvas('setShiftKey', ev.shiftKey);
        if(ev.ctrlKey && ev.key == "Z") {
            document.querySelector('#redo').onclick();
        }
        else if(ev.ctrlKey && ev.key == "z") {
            document.querySelector('#undo').onclick();
        }

        if(ev.ctrlKey && ev.key == "i") {
            room.canvas.observer = !room.canvas.observer;
            alert("obserser:"+ room.canvas.observer);
        }
    }

    document.onkeyup = (ev) => {
        room.callCanvas('setShiftKey', ev.shiftKey);
    }
    
    document.querySelector('#pen').onclick = () => {
        room.callCanvas('setTool', 'pen');
    }

    document.querySelector('#eraser').onclick = () => {
        room.callCanvas('setTool', 'eraser');
    }

    document.querySelector('#rectangle').onclick = () => {
        room.callCanvas('setTool', 'rectangle');
    }
    
    document.querySelector('#ellipse').onclick = () => {
        room.callCanvas('setTool', 'ellipse');
    }
    
    document.querySelector('#triangle').onclick = () => {
        room.callCanvas('setTool', 'triangle');
    }

    document.querySelector('#clear').onclick = () => {
        room.callCanvas('clear');
    }

    document.querySelector('#undo').onclick = () => {
        room.callCanvas('undo');
    }
    document.querySelector('#redo').onclick = () => {
        room.callCanvas('redo');
    }

    
    setInterval(function(){
        if(room.countDown > 0){
            room.countDown -= 1
            document.getElementById("countdown").innerHTML = room.countDown+'s'
        }

    }, 1000);

</script>
{% endblock %}