{% extends "layout.html" %}
{% block head %}
<meta charset="utf8">
<title>Gartico</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}
<body>
    <div id="modal" class="modal">
        <div id="create_room" class="create_room">
            <div class="title">
                <div class="left">
                    Criar sala
                </div>

                <div class="right">
                    <button onclick="document.getElementById('modal').style.display='none'">Fechar</button>
                </div>
            </div>
            
            <div class="content" style="flex-direction: column; align-items: center;">
                <form action="/create_room" method="POST" style="width: 80%;">
                    <label>Categoria:</label><br>
                    <select id="category" name="category">
                        {% for categoria in categorias %}
                        <option value="{{ categoria }}">{{ categorias[categoria]|capitalize }}</option>
                        {% endfor %}
                    </select><br>
                    <label>Subcategoria:</label><br>
                    <select id="subcategory" name="subcategory">
                        {% for categoria in categorias %}
                            {% for subcategoria in subcategorias[categoria] %}
                                <option id="{{ categoria }}" value="{{ subcategoria }}" style="display: none;">{{ subcategorias[categoria][subcategoria] }}</option>
                            {% endfor %}
                        {% endfor %}

                    </select>
                    <button type="submit">Criar</button>
                </form>

                <script type="text/javascript">
                    function atualizarSubcategorias() {
                        selection = document.querySelector("#category").value;
                        var first = true;

                        document.querySelector("#subcategory").childNodes.forEach((subcategory, key) => {
                            if(subcategory.style) {
                                if ( selection == subcategory.id ) {
                                    subcategory.style.display = 'block';

                                    if(first) {
                                        first = false;
                                        subcategory.selected = true; 
                                    }
                                }
                                else
                                    subcategory.style.display = 'none';
                            }
                        });
 
                    }

                    document.querySelector("#category").onchange =  () => {
                        atualizarSubcategorias();
                    }
                </script>
            </div>
        </div>
    </div>
    <nav class="top-nav">
        <div class="left">
            <a class="home">Gartico</a>
        </div>
        <div class="right">
            {% if session.logged_in %}
            <button class="tool-btn" onclick="window.location.href = '/logout'">Sair</button>
            <button><a class="home">Sobre</a></button>
            <div style="display: flex; flex-direction: column; align-content: center; align-items: center;">
                <img class="profile" src="{{ url_for('static', filename='img/icon-user-default.png') }}">
                <small>{{session.nickname}}</small>
            </div>
            {% else %}
            <button class="tool-btn" onclick="window.location.href = '/login'" >Login</button>
            <button onclick="window.location.href = '/register'">Cadastro</button>
            <button><a class="home">Sobre</a></button>
            {% endif %}
            
        </div>
    </nav>
    <div class="container">
        
        <div class="rooms">
            <div class="title">
                <div class="left">
                    Salas abertas
                </div>
                
                <div class="right">
                    {% if session.logged_in %}
                    <button onclick="document.getElementById('modal').style.display='flex';atualizarSubcategorias()">Criar sala</button>
                    {% endif %}
                    <a style="align-self: center;">Jogadores em sala: {{ total_online }}</a>
                </div>
            </div>
            <div class="content" style="display: flex; flex-direction: row;">
                {% for room in existing_rooms %}
                <div class="room-card">
                    <div class="room-card-title" >
                        <div>Sala {{ room['id'] }}</div>
                    </div>
                    <div class="room-card-content">
                        <ul>
                            <li>
                            {{ room['category'] }}
                            </li>
                            <li>
                             {{ room['subcategory'] }}
                            </li>
                            <li>
                            {{ room['players'] }} jogando
                            </li>
                            <li>
                                <button><a href="{{'/room/' + room['id']|string }}">Entrar</a></button>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}

                {% if not existing_rooms %}
                    <h3>Não existe nenhuma sala disponível</h3>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}