{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rmi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/room.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
{% endblock %}
    
{% block body %}
<div id="container" class="container">
    <div class="game">
        <div class="users-panel col no-selectable">

            <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">

            <ul>
                {% for player in players %}

                <li class="row">
                        <img class="user-img" src="{{ url_for('static', filename='img/icon-user-default.png') }}">
                        <div class="col">
                            <a class="user-name">{{ player }}</a>
                            <a id="pts-{{ player }}" class="user-rank">0pts</a>
                        </div>
                    </li>
                {% endfor %}

                <li class="row">
                    <img class="user-img" src="{{ url_for('static', filename='img/icon-user-default.png') }}">
                    <div class="col">
                        <a class="user-name">Gilso</a>
                        <a class="user-rank">20pts</a>
                    </div>
                </li>
                <li class="row">
                    <img class="user-img" src="{{ url_for('static', filename='img/icon-user-default.png') }}">
                    <div class="col">
                        <a class="user-name">Maygon</a>
                        <a class="user-rank">20pts</a>
                    </div>
                </li>
                <li class="row">
                    <img class="user-img" src="{{ url_for('static', filename='img/icon-user-default.png') }}">
                    <div class="col">
                        <a class="user-name">Moreno</a>
                        <a class="user-rank">20pts</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col center-panel">
            <div class="row canvas">
                <svg id="svg" viewBox="0 0 800 370" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width:100%; height:100%; touch-action:none;"></svg>
            </div>
            <div class="row bottom-center-pannel">
                <div class="answers">

                </div>

                <div class="chat">
                    
                </div>
            </div>
        </div>
            
        <div class="col side-panel no-selectable">
            <div class="tool-panel">

                    <button class="tool-btn" id="pen">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/pencil.svg') }}">
                        <span class="tooltip">Pencil</span>    
                    </button>
                    <button class="tool-btn" id="eraser">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/eraser.svg') }}">
                        <span class="tooltip">Eraser</span>    
                    </button>
                    <button class="tool-btn" id="undo">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/undo.svg') }}">
                        <span class="tooltip">Undo</span>    
                    </button>
                    <button class="tool-btn" id="redo">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/redo.svg') }}">
                        <span class="tooltip">Redo</span>    
                    </button>
                    <button class="tool-btn" id="rectangle">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/square.svg') }}">
                        <span class="tooltip">Rectangle</span>    
                    </button>
                    <button class="tool-btn" id="ellipse">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/ellipse.svg') }}">
                        <span class="tooltip">Ellipse</span>    
                    </button>
                    <button class="tool-btn" id="triangle">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/triangle.svg') }}">
                        <span class="tooltip">Triangle</span>    
                    </button>
                    <button class="tool-btn" id="clear">
                        <img class="tool-icon" src="{{ url_for('static', filename='img/clear.svg') }}">
                        <span class="tooltip">Clear</span>    
                    </button>
                    
                    <div class="tool-btn">
                        <div class="color-picker"></div>
                        <span class="tooltip">Color</span>    
                    </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let nickname = "{{ nick }}";
    const room = new Room('#svg', location.protocol, document.domain, location.port, location.pathname.split('/')[2])
    //const remote = new SVGCanvas('#svg', location.protocol, document.domain, location.port, location.pathname.split('/')[2]);
    const pickr = Pickr.create({
        el: '.color-picker',
        theme: 'nano', // or 'monolith', or 'nano',
        default: '#000000',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 1)',
            'rgba(156, 39, 176, 1)',
            'rgba(103, 58, 183, 1)',
            'rgba(63, 81, 181, 1)',
            'rgba(33, 150, 243, 1)',
            'rgba(3, 169, 244, 1)',
            'rgba(0, 188, 212, 1)',
            'rgba(0, 150, 136, 1)',
            'rgba(76, 175, 80, 1)',
            'rgba(139, 195, 74, 1)',
            'rgba(205, 220, 57, 1)',
            'rgba(255, 235, 59, 1)',
            'rgba(255, 193, 7, 1)'
        ],

        components: {

            // Main components
            hue: true,
            preview: true,

            interaction: {
            save: true
            }
        }
    });

    pickr.on('init', instance => {
    }).on('save', (color, instance) => {
        room.callCanvas('setColor', color.toHEXA().toString());
    });
    
    
    function down() {
        const coords = d3.mouse(this);
        
        room.callCanvas('startDraw', coords[0], coords[1]);
    }

    function up() {
        room.callCanvas('setDrawing', false);
    }

    function move() {
        if (!room.canvas.drawing)
            return;
            
        const coords = d3.mouse(this);

        room.callCanvas('draw', coords[0], coords[1]);
    }

    room.canvas.svg.on('mousedown', down); 
     room.canvas.svg.on('touchstart', down); 

    document.onmouseup = up;
    document.ontouchend = up;

     room.canvas.svg.on('mousemove', move);
     room.canvas.svg.on('touchmove', move);

    document.onkeydown = (ev) => {
        room.canvas.shiftKey = ev.shiftKey;
        if(ev.ctrlKey && ev.key == "Z") {
            document.querySelector('#redo').onclick();
        }
        else if(ev.ctrlKey && ev.key == "z") {
            document.querySelector('#undo').onclick();
        }

        if(ev.ctrlKey && ev.key == "i") {
            room.canvas.observer = !room.canvas.observer;
            alert("obserser:"+ room.canvas.observer);
        }
    }

    document.onkeyup = (ev) => {
        room.canvas.shiftKey = ev.shiftKey;
    }
    
    document.querySelector('#pen').onclick = () => {
        room.canvas.setTool('pen');
    }

    document.querySelector('#rectangle').onclick = () => {
        room.canvas.setTool('rectangle');
    }
    
    document.querySelector('#ellipse').onclick = () => {
        room.canvas.setTool('ellipse');
    }
    
    document.querySelector('#triangle').onclick = () => {
        room.canvas.setTool('triangle');
    }

    document.querySelector('#eraser').onclick = () => {
        room.callCanvas('setTool', 'eraser');
    }

    document.querySelector('#clear').onclick = () => {
        room.callCanvas('clear');
    }

    document.querySelector('#undo').onclick = () => {
        room.callCanvas('undo');
    }
    document.querySelector('#redo').onclick = () => {
        room.callCanvas('redo');
    }
</script>

{% endblock %}